@charset "utf-8"
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

/* ---------------------------------------------------------------------------- */
/* ------------------------------------Reset----------------------------------- */
/* ---------------------------------------------------------------------------- */
*{
  margin: 0;
  padding: 0;
}
ul {
	list-style: none;
}

a{color: #4C4C4C;text-decoration: none;}
a:hover {text-decoration: none;}

.clearfix:after, .clearfix:before{clear: both; content: '\0020'; display: block; visibility: hidden; width: 0; height: 0;}

/* ---------------------------------------------------------------------------- */
/* ------------------------------------Html-Body------------------------------- */
/* ---------------------------------------------------------------------------- */

body {background: #F9F9F9;
      color: #3F3F3F;
      font: 14px/25px Arial, Helvetica, sans-serif;
      font-family: Montserrat, sans-serif;
}

.heng li{
  float: left;
}
.shu ul li{
  float: none;
}
.shu li{
  float: none;
}


/* ---------------------------------------------------------------------------- */
/* ------------------------------------Header---------------------------------- */
/* ---------------------------------------------------------------------------- */


.wrap_header {
  position: relative;
  margin-top: 20px;
  border: 1px solid black;
}

.logo {
	border: 1px solid red;
	height: 200px;
	width: 230px;
	margin-left: 50px;
	text-align: left;	
}

.logo img{
	border: 1px solid red;
	width: 100px;
	height: 100px;
	margin-top: 30px;	
}
.logo span{
  font-size: 30px;margin-bottom: 10px;letter-spacing: 1px;
}

@media all and (max-width: 768px){
  header .logo{text-align:center;width: 100%;}
  header .logo img{display:block;}
}

/* ---------------------------------------------------------------------------- */
/* -------------------------------Menu---------------------------------- */
/* ---------------------------------------------------------------------------- */

#cssmenu {
  width: 400px;
  height: 200px;
  float: right;
  border: 1px solid red;
}
.firstNav >li{
  width: 70px;
  margin: 30px 10px;
  text-align: center;
  border: 1px solid blue;
}
.firstNav >li:hover{
  height: 30px;
} 
.secondNav {
  position: absolute;
  margin-top: 5px;
  display: block;
}
.secondNav >li{
  width: 70px;
  position: relative;
  border: 1px solid green;
}

.thirdNav{
  position: absolute;
  top: 0;
  right:-103px;
  display: none;
}
.thirdNav li{
  width: 100px;
  border: 1px solid gray;
}
#cssmenu li.on > ul{ display: block;}
#cssmenu li > ul{ display: none;} 

/* ---------------------------------------------------------------------------- */
/* -------------------------------------Container------------------------------ */
/* ---------------------------------------------------------------------------- */
#container {
}
#container .wrap-container{}

.header { margin: 20px 0 50px;}
.header h1{font-size: 30px;margin-bottom: 10px;letter-spacing: 2px;}
.header span{color: #686868;line-height: 1.4;font-size: 26px;font-weight:500;font-family: "Roboto",sans-serif;}


/* ---MainContent-Article--- */
#main-content{}
#main-content .wrap-content{padding:30px 10px;position: relative;}

#main-content .wrap-content h2{margin: 30px 0 20px;}

.info{margin-top: 50px;}
.info h2{margin-bottom: 20px;}

article{margin-bottom: 50px;}
article:after, article:before{clear: both; content: '\0020'; display: block; visibility: hidden; width: 0; height: 0;}
article .art-header{}
article .info{margin: 20px 0;}
article .art-content{}
/* ---------------------------------------------------------------------------- */
/* -------------------------------Item-Effect---------------------------------- */
/* ---------------------------------------------------------------------------- */  
.item-container {
  position: relative;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  margin-bottom: 20px;

  background: -webkit-linear-gradient(left top, #D9D9D9 , #A3A3A3); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(top right, #D9D9D9, #A3A3A3); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top right, #D9D9D9, #A3A3A3); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to top right, #D9D9D9 , #A3A3A3); /* Standard syntax (must be last)*/
  
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.item-container img {
  display: block;
  width: 100%;
  height: auto;
  padding: 50px;
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all .5s ease; /* Safari and Chrome */
    -moz-transition: all .5s ease; /* Firefox */
    -ms-transition: all .5s ease; /* IE 9 */
    -o-transition: all .5s ease; /* Opera */
    transition: all .5s ease;
}
.item-container .item-caption {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background: none;
  width: 100%;
  height: 100%;
  -webkit-transition: all .5s ease; /* Safari and Chrome */
    -moz-transition: all .5s ease; /* Firefox */
    -ms-transition: all .5s ease; /* IE 9 */
    -o-transition: all .5s ease; /* Opera */
    transition: all .5s ease;
}
.item-caption-inner {
  display: table;
  width: 100%;
  height: 100%;
}
.item-caption-inner1 {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.item-container .item-caption h3, .item-container .item-caption span{
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: #444;
  display: none;
}
.item-container .item-caption h3{
  font-size: 23px;
  letter-spacing: 2px;
  margin-bottom : 12px;
}
.item-container .item-caption span{
  font-style: italic;
  font-size: 12px;
}

.item-container:hover .item-caption {
  background: rgba(255, 255, 255, .75);
}
.item-container:hover .item-caption h3, .item-container:hover .item-caption span{
  display: block;
}
/* ---------------------------------------------------------------------------- */
/* -------------------------------------Footer--------------------------------- */
/* ---------------------------------------------------------------------------- */
footer{margin-top: 40px;}
footer .wrap-footer{color: #666;font-size: 13px;padding: 40px 20px;}
footer .wrap-footer h3{margin-bottom: 10px;}